<!doctype html>
<html>
    <head>    
        
        <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ .Site.Title }}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="google" content="notranslate" />
        <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ (resources.Get "sass/main.scss" | resources.ExecuteAsTemplate "assets/css/main.css" . | resources.ToCSS (dict "indentWidth" 4 "outputStyle" "nested" "precision" 10)).Permalink }}">
        <script type="text/javascript">
var _iub = _iub || [];
_iub.csConfiguration = {"lang":"fr","siteId":1796687,"cookiePolicyId":16110502, "banner":{ "acceptButtonDisplay":true,"customizeButtonDisplay":true,"position":"float-bottom-center","acceptButtonColor":"#266699","acceptButtonCaptionColor":"white","customizeButtonColor":"#000101","customizeButtonCaptionColor":"white","textColor":"#010000","backgroundColor":"#ffffff","content":"Le présent site et les outils de tiers traitent des données personnelles (ex : données de navigation ou adresses IP) et utilisent des cookies ou d’autres identifiants qui sont nécessaires à son fonctionnement et sont requis pour atteindre les finalités présentées dans la politique relative aux cookies. Vous acceptez l’utilisation des cookies ou d’autres identifiants en fermant cet avis, en faisant défiler cette page, en cliquant sur un lien ou un bouton ou en continuant votre navigation." }};
</script><script type="text/javascript" src="//cdn.iubenda.com/cs/iubenda_cs.js" charset="UTF-8" async></script>
    </head>
    <body>
        
        <div id="page" class="site palette-{{ .Site.Params.palette }}">
          {{ partial "header.html" . }}
          <main id="content" class="site-content">
            {{ block "content" . }}{{ end }}
          </main><!-- .site-content -->
          {{ partial "footer.html" . }}
        </div><!-- .site -->
        <!-- Scripts -->
        <script src="{{ "assets/js/plugins.js" | relURL }}"></script>
        <script src="{{ "assets/js/init.js" | relURL }}"></script>
        <script src="{{ "assets/js/main.js" | relURL }}"></script>
    </body> 
</html>
